ZEPHYR_CMSIS_6_MODULE_DIR=/home/strooom/projects/zephyr/iomicoZephyrCourse/modules/hal/cmsis_6
ZEPHYR_HAL_ESPRESSIF_MODULE_DIR=/home/strooom/projects/zephyr/iomicoZephyrCourse/modules/hal/espressif
ZEPHYR_HAL_STM32_MODULE_DIR=/home/strooom/projects/zephyr/iomicoZephyrCourse/modules/hal/stm32
ZEPHYR_SEGGER_MODULE_DIR=/home/strooom/projects/zephyr/iomicoZephyrCourse/modules/debug/segger
