# #############################
# ### Visual Studio Code    ###
# #############################

.vscode/*
!.vscode/readme.md
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json


# #############################
# ### FreeFileSync          ###
# #############################
SYNC.md
*.ffs_gui
*.ffs_db
*.bkp

# #############################
# ### Doc - PDF             ###
# #############################
/docs/**/*.pdf


# #############################
# ### Coverage HTML Files   ###
# #############################
# /test/coverage/*.*
# /logs/*.*


# #############################
# ### Build output          ###
# #############################
/build*


# #############################
# ### Test output           ###
# #############################
/twister-out*

# #############################
# ### Python                ###
# #############################
.venv
__pycache__/
