#include <zephyr/dt-bindings/pinctrl/esp32s3-pinctrl.h>
#include <zephyr/dt-bindings/led/led.h>
#include <zephyr/dt-bindings/led/worldsemi_ws2812c.h>

/ {
	aliases {
		led-strip = &led_strip;
	};
};


&pinctrl {
    spim3_default: spim3_default {
        group1 {
            pinmux = <SPIM3_MOSI_GPIO8>;
            output-low;
        };
    };
};

&spi3 {
    #address-cells = <1>;
    #size-cells = <0>;
    status = "okay";
    line-idle-low;
    pinctrl-0 = <&spim3_default>;
    pinctrl-names = "default";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        spi-max-frequency = <WS2812C_SPI_FREQ>;
        chain-length = <8>;
        color-mapping = <LED_COLOR_ID_GREEN>,
                        <LED_COLOR_ID_RED>,
                        <LED_COLOR_ID_BLUE>;
        spi-one-frame = <WS2812C_ONE_FRAME>;
        spi-zero-frame = <WS2812C_ZERO_FRAME>;
    };
};
